body {
  font-family: Arial;
  background: #f5f7fa;
}

.page {
  padding: 15px;
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px,1fr));
  gap: 15px;
}

.card {
  background: white;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  cursor: pointer;
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
}

.card h4 {
  padding: 10px;
}

.center {
  text-align: center;
  margin-top: 60px;
}

.center button {
  padding: 10px 20px;
  background: #0d6efd;
  color: white;
  border: none;
  border-radius: 6px;
}

.formBox {
  background: white;
  width: 280px;
  margin: auto;
  margin-top: 60px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.formBox input {
  padding: 8px;
}

.formBox button {
  background: green;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 6px;
}
