[submodule "Assignment5/calculator"]
	path = Assignment5/calculator
	url = ./Assignment5/calculator
[submodule "Assignment6/to-do"]
	path = Assignment6/to-do
	url = ./Assignment6/to-do
[submodule "Assignment7/points-table"]
	path = Assignment7/points-table
	url = ./Assignment7/points-table
[submodule "Assignment8/movie-booking"]
	path = Assignment8/movie-booking
	url = ./Assignment8/movie-booking
